<div class="main-nav">
    <div class="navbar ">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-right"> 
                <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/login']">
                        <span class="glyphicon glyphicon-user"></span> Login
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a [routerLink]="['/posts']">
                        <span class="glyphicon glyphicon-list-alt"></span> Posts
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/photos']">
                        <span class="glyphicon glyphicon-picture"></span> Photos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

