  <h2>List of Posts</h2>
  <table class="table table-striped">
      <thead>
      <tr>
          <th>
            User_Id
          </th>
          <th>
            Id
          </th>
          <th>
            Title
          </th>
          <th>
            Body
          </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of posts">
          <td>{{ p.userId }}</td>
          <td>{{ p.id }}</td>
          <td>{{ p.title }}</td>
          <td>{{ p.body }}</td>
      </tr>
      </tbody>
  </table>

