  <h2>List of Photos</h2>
  <table class="table table-striped">
      <thead>
      <tr>
          <th>
            Album_Id
          </th>
          <th>
            Id
          </th>
          <th>
            Title
          </th>
          <th>
            Url
          </th>
          <th>
            Thumbnail
          </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of photos">
          <td>{{ p.albumId }}</td>
          <td>{{ p.id }}</td>
          <td>{{ p.title }}</td>
          <td><img src="{{ p.url }}" width="50px" height="50px"></td>
          <td><img src="{{ p.thumbnailUrl }}" width="50px" height="50px"></td>
      </tr>
      </tbody>
  </table>

