<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
          <nav-menu></nav-menu>
        </div>
        <div class="col-sm-10 col-xs-12 body-content col-sm-offset-1">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>
