<button type="button" (click)="login()" *ngIf="!user">Login</button>
<button type="button" (click)="callAPI()" *ngIf="user">Call Graph's /me API</button>
<button type="button" (click)="logout()" *ngIf="user">Logout</button>
<h3 *ngIf="user">
    Hello {{ user.name }}
</h3>
<h3 *ngIf="userInfo">
    {{ userInfo | json }}
</h3>
<strong *ngIf="loginFailed">
  Login unsuccessful
</strong>
<strong *ngIf="apiCallFailed">
  Graph API call unsuccessful
</strong>